<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Crud Stock</title>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <% for(let item of items) { %>
        <tr>
            <td><%= item.kode_barang %></td>
            <td><%= item.nama_barang %></td>
            <td><%= item.stok_barang %></td>
        </tr>
        <% } %>
        
    </table>
</body>
</html>